body {
	background-color: #292929;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	color: #fff;
}

.seat {
	background-color: #444451;
	height: 30px;
	width: 30px;
	margin: 5px;
	border-radius: 5px;
}

.seat.selected {
	background-color: #f6eb6f;
}

.seat.reserved {
	background-color: #fff;
}

.seat:not(.reserved):hover {
	cursor: pointer;
	transform: scale(1.3);
}

.seat:nth-of-type(2) {
	margin-right: 40px;
}

.seat:nth-last-of-type(3) {
	margin-right: 40px;
}

.row {
	display: flex;
}

.screen {
	background-color: #fff;
	height: 100px;
	width: 100%;
	margin: 30px 0;
	box-shadow: 0 3px 8px rgba(255, 255, 255, 0.7);
}

.movie-list {
	margin: 20px 0;
}

.info {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 5px 10px;
	color: #777;
	display: flex;
}

.info li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

h3.text span {
	color: #f6eb6f;
}

.from {
	position: fixed;
	padding: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

a {
	margin: 0.5rem;
}
